@media (max-width: 767px) {
  .miki {
    left: 3%;
    right: 3%;
    max-width: 300px;
    width: 94%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .miki {
    width: 300px;
    right: 1%;
  }
}
.miki {
  background-color: white;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  bottom: 0;
  position: fixed;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 13px 15px 10px;
  border-radius: 11px 11px 0 0;
}
.miki .question {
  margin-bottom: .7rem;
}
.miki .message {
  text-align: center;
  padding: 23px;
}
.miki button {
  background-color: #0090FF;
  border: none;
  color: white;
  padding: 5px 14px;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}
.miki .answer {
  display: block;
  margin-top: .4rem;
  background-color: whitesmoke;
  padding: .2rem 0.4rem;
  border-radius: 4px;
  cursor: pointer;
}
.miki .footer {
  margin-top: .7rem;
}
.miki input[type=text],
.miki textarea {
  width: 100%;
  padding: .3rem .5rem;
  border: 1px solid #ccc;
}
.miki textarea {
  height: 5rem;
}
.miki .close {
  position: absolute;
  right: 16px;
  font-size: 28px;
  line-height: 0;
  top: 16px;
  cursor: pointer;
}
.miki .close:before {
  content: '-';
}
.miki.minimized .close {
  top: 19px;
  right: 11px;
}
.miki.minimized .close:before {
  content: '+';
}
